body {
    background-color: #1A1A1A;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

#login-form,
#signup-form {
    width: 300px;
    margin: auto;
    margin-top: 30px;
    background-color: #131212;
    border-radius: 20px;
    padding: 10px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs {
    border-radius: 10px;
    border: 0px;

}

.alerta {
    position: fixed;
    top: 10px;
    right: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#add {
    background-color: red;
}

#infoAccount {
    margin: auto;
    width: 40%;
    
}

#redefinir {
    width: 100%;
    position: absolute;
    left: 5px;
    display: flex;
}

.input-r {
    width: 50%;
    border-radius: 10px;
    border: 0px;
}

#redefinir-nome {
    margin-top: 100px;
    width: 50%;
}

#redefinirSenha {
    margin-top: 95px;
    width: 50%;
}

button {
    width: 23%;
}