body {
    background-color: #1A1A1A;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

#login-form,
#signup-form {
    width: 300px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alerta {
    position: fixed;
    top: 10px;
    right: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#add {
    background-color: red;
}

#infoAccount {
    position: absolute;
    left: 40%;
    width: 40%;
    
}

input {
    width: 50%;
    border-radius: 10px;
    border: 0px;
}

#redefinirSenha {
    margin-top: 20px;
}

button {
    width: 23%;
}