@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
html, body {
    height: 100vh;
    width: 98vw;
    background-color: #292727;
    color: white;
}

.menu {
    width: 96%;
    float: left;
    list-style: none;
    border: 1px solid black;
    background-color: #1A1A1A;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
    margin: 10px;
    font-size: larger;
    
}

.menu li{
    position:relative;
    float: left;
    border-right:1px solid #c0c0c0;
}

.menu li a{color:#ffffff; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#1A1A1A;
    display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:100px;
}

div{
    text-align: center;
    padding: 10px;
}

.pesquisa {
    width: 50%;
    height: 25px;
    border-radius: 10px;
    border-width: 0px;
}

.botao {
    margin-left: 8px;
    border-radius: 10px;
    border-width: 0px;
    width: 50px;
    height: 25px;
    cursor: pointer;
}

.botao:hover {
    background-color: #333;
}